{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}StaffRoom - {{ title }} {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-head">
    <h1>{{ title }} {{ user.username }}</h1>
    <span class="feed-count">{{ pagination.total }} {{ 'person' if pagination.total == 1 else 'people' }}</span>
</div>
<div class="card person-list">
    {% for follow in follows %}
    <div class="person-row">
        <img class="person-avatar" src="{{ follow.user.gravatar(size=36) }}">
        <div>
            <div class="person-name"><a href="{{ url_for('.user', username=follow.user.username) }}">{{ follow.user.username }}</a></div>
            <div class="person-meta">Following since {{ moment(follow.timestamp).format('L') }}</div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}
