{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}StaffRoom{% endblock %}

{% block page_content %}
<div class="page-head">
    <h1>Feed</h1>
    <span class="feed-count">{{ pagination.total }} post{{ 's' if pagination.total != 1 else '' }}</span>
</div>
{% if current_user.can(Permission.WRITE) %}
<div class="composer">
    <div class="composer-row">
        <img class="composer-avatar" src="{{ current_user.gravatar(size=36) }}">
        <div class="composer-form">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endif %}
<div class="post-tabs">
    <div class="segmented">
        <a{% if not show_followed %} class="active"{% endif %} href="{{ url_for('.show_all') }}">All</a>
        {% if current_user.is_authenticated %}
        <a{% if show_followed %} class="active"{% endif %} href="{{ url_for('.show_followed') }}">Followed</a>
        {% endif %}
    </div>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
