{% extends "base.html" %}
{% import "_macros.html" as macros with context %}

{% block title %}Flasky - Notifications{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Notifications</h1>
</div>
<ul class="list-group">
    {% for notification in notifications %}
    <li class="list-group-item{% if not notification.read %} list-group-item-info{% endif %}">
        {{ macros.render_notification(notification) }}
    </li>
    {% else %}
    <li class="list-group-item">No notifications yet.</li>
    {% endfor %}
</ul>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint) }}
</div>
{% endblock %}
