{% extends "base.html" %}

{% block title %}StaffRoom - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="profile-card">
    <img class="profile-avatar" src="{{ user.gravatar(size=192) }}">
    <div class="profile-info">
        <h1>{{ user.username }}{% if user.name %} <span class="profile-name">{{ user.name }}</span>{% endif %}</h1>
        <div class="profile-meta">
            {% if user.location %}
            <span>from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a></span>
            <span class="profile-meta-dot">&middot;</span>
            {% endif %}
            <span>Member since {{ moment(user.member_since).format('L') }}</span>
            <span class="profile-meta-dot">&middot;</span>
            <span>Last seen {{ moment(user.last_seen).fromNow() }}</span>
            {% if current_user.is_administrator() %}
            <span class="profile-meta-dot">&middot;</span>
            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            {% endif %}
        </div>
        {% if user.about_me %}<p class="profile-bio">{{ user.about_me }}</p>{% endif %}
        <div class="profile-stats">
            <div class="profile-stat"><b>{{ user.posts.count() }}</b><span>Posts</span></div>
            <a class="profile-stat" href="{{ url_for('.followed_by', username=user.username) }}"><b>{{ user.followed.count() - 1 }}</b><span>Following</span></a>
            <a class="profile-stat" href="{{ url_for('.followers', username=user.username) }}"><b>{{ user.followers.count() - 1 }}</b><span>Followers</span></a>
        </div>
    </div>
    <div class="profile-actions">
        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
            {% if not current_user.is_following(user) %}
            <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
            {% else %}
            <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-default">Unfollow</a>
            {% endif %}
        {% endif %}
        {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
        <span class="chip chip-neutral">Follows you</span>
        {% endif %}
        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
        {% endif %}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
        {% endif %}
    </div>
</div>
<h3>Posts by {{ user.username }}</h3>
{% include '_posts.html' %}
{% endblock %}
